# Entorno virtual
venv/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
/media
/static

# Entornos IDE
.vscode/
.idea/

# Archivos temporales
*.swp
*.swo

# Archivos de entorno
.env
.env.local